form {
    margin-top: 5rem;
  }
  
  form input[name="city"],
  form input[name="country"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid whitesmoke;
    border-radius: 0;
  }
  